{namespace se=Slub\SlubEvents\ViewHelpers}
<f:be.container
	pageTitle="Veranstaltungsmanagement"
	enableJumpToUrl="TRUE"
	enableClickMenu="FALSE"
	loadPrototype="FALSE"
	loadExtJs="TRUE"
	loadExtJsTheme="FALSE"
	loadJQuery="TRUE"
	addCssFile="{f:uri.resource(path:'Css/slub-event-backend.css')}"
	addJsFile="{f:uri.resource(path:'Js/slub-event-backend.js')}"
	includeCssFiles="{0: '{f:uri.resource(path:\'Css/Contrib/Bootstrap/bootstrap.min.css\')}',1: '{f:uri.resource(path:\'Css/Contrib/Bootstrap/bootstrap-datetimepicker.min.css\')}'}"
	includeJsFiles="{
	0: '{f:uri.resource(path:\'Js/Contrib/Bootstrap/bootstrap.min.js\')}',
	1: '{f:uri.resource(path:\'Js/Contrib/JQuery/jquery.validate.min.js\')}',
	2: '{f:uri.resource(path:\'Js/Contrib/JQuery/additional-methods.min.js\')}',
	3: '{f:uri.resource(path:\'Js/Contrib/Moment/moment.min.js\')}',
	4: '{f:uri.resource(path:\'Js/Contrib/Moment/locale/de.js\')}',
	5: '{f:uri.resource(path:\'Js/Contrib/Bootstrap/bootstrap-datetimepicker.min.js\')}',
	6: '{f:uri.resource(path:\'Js/Contrib/bonsai/jquery.qubit.js\')}',
	7: '{f:uri.resource(path:\'Js/Contrib/bonsai/jquery.bonsai.js\')}',
	8: '{f:uri.resource(path:\'Js/Contrib/tinymce/tinymce.min.js\')}',
	9: '{f:uri.resource(path:\'Js/Contrib/tinymce/jquery.tinymce.min.js\')}'}">
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">

				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="<f:translate key='tx_slubevents.be.eventmanagement' />" controller="" action="beList" />
						<f:be.menus.actionMenuItem label="<f:translate key='tx_slubevents.be.subscriberlist' />" controller="Subscriber" action="beList" />
						<f:be.menus.actionMenuItem label="<f:translate key='be.createNewEvent' />" controller="Event" action="beNewEvent" />
					</f:be.menus.actionMenu>

				</div>
				<div class="docheader-row2-right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages renderMode="div" />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
